.loader-active{
    overflow: hidden;
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.loader{
    position: relative;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    z-index: 9999;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transform: rotate(calc(18deg * var(--i)));
}
.loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    transform: scale(0);
    animation :animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate
{
    0%
    {
        transform: scale(0);
    }
    10%
    {
        transform: scale(1.2);
    }
    80%,100%
    {
        transform: scale(0);

    }
}
.rocket{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotating 2s linear infinite;
    animation-delay: -1s;
}

@keyframes rotating{
    0%
    {
        transform: rotate(10deg);
    }
    100%
    {
        transform: rotate(370deg);
    }
}

.rocket::before{
    content: '\f072';
    font-family: fontAwesome;
    position: absolute;
    top: 100px;
    left: 85px;
    color: blue;
    font-size: 60px;
    transform: rotate(180deg);
}