/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 May, 2020, 10:42:35 PM
    Author     : kUsH
*/

.btn-clock:hover, .btn-clock:focus, .btn-clock:active {
    background: transparent;
}
.page-logo img{
    height: 70px;
}
.subheader{
    margin-bottom: 0.5rem !important;
}
.modal-body .form-group{
    margin-bottom: 1rem;
}
.shortcut-menu {
    position: fixed;
    right: 0.2rem;
    bottom: 3rem;
    z-index: 931;
}
.fix-search {
    position: fixed;
    top: 66px;
    width: 95%;
    z-index: 1;
    background: #fff;
    padding-top: 5px;
}
.table th, .table td {
    padding: 0.5rem;
}
.pill-create{
    float: right;
    position: fixed;
    right: 20px;
}
.nav-link.text-info.active{
    color: #fff !important;
    background-color: #2196F3 !important;
}
@media only screen and (max-width: 880px){
    .fix-search {
        width: 92%;
    }
}
@media only screen and (max-width: 880px){
    .fix-search {
        width: 94%;
    }
}
@media (min-width: 992px){
    .fix-search {
        width: 96%;
    }
    .page-content {
        padding: 1rem 1rem 3rem 1rem;
    }
    .nav-function-hidden:not(.nav-function-top) .page-sidebar:after {
        width: 0.1rem;
    }
}
@media (min-width: 1400px){
    .fix-search {
        width: 97%;
    }
}

